*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
.container {
    min-height: 100vh;
}
 
/* NAV BAR  */

nav {
    height: 80px;
    background: rgb(137, 108, 108);
    width: 100%;
    margin: auto;
}


.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav__link {
    list-style: none;
}

.nav__link--anchor {
    margin-right: 24px;
    color: whitesmoke;
    font-size: 20px;
    position: relative;
}

.nav__link--anchor::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background: #fff;
    bottom: -3px;
    opacity: 0;
    transition: opacity 300ms ease;
}

.nav__link:hover .nav__link--anchor::before {
    opacity: 1;
}

/* CONTENT  */
.content {
    padding: 24px 48px;
    background-color: bisque;
    width: 100%;
    height: 60vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
}

.content__container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.content__title {
    text-align: center;
    margin-bottom: 24px;
}

.content__left {
    margin-right: 120px;
}
.content__img--wrapper {
    width: 200px;
    border: 1px solid black;
}

.content__img {
    width: 100%;
}

.content__right {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__subtitle {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}

.order__anchor {
    background-color: rgb(194, 104, 40);
    color: white;
    padding: 6px 24px;
    border-radius: 6px;
}

/* FOOTER  */

footer {
    background-color:rgb(19, 19, 39);
    display: flex;
    flex-direction: column;
    justify-content : end;
    align-items: center;
    padding: 20px;
    height: 200px;
}

.footer__text {
    color: white;
    margin-bottom: 12px;
}

.footer__anchor {
    color: white;
    background-color: rgb(194, 104, 40);
    padding: 6px 48px;
    border-radius: 6px;

}